{
  "openapi": "3.0.3",
  "info": {
    "title": "Cpaas API",
    "description": "Cpaas API Documentation",
    "version": "v1",
    "x-konfig-ignore": {
      "potential-incorrect-type": true
    }
  },
  "servers": [
    {
      "description": "Live Server Endpoint",
      "url": "https://api.tubelightcommunications.com"
    }
  ],
  "tags": [
    {
      "name": "sms"
    },
    {
      "name": "rcs"
    },
    {
      "name": "voice"
    },
    {
      "name": "2FA"
    },
    {
      "name": "whatsapp"
    },
    {
      "name": "email"
    }
  ],
  "paths": {
    "/api/authentication/login": {
      "post": {
        "tags": [
          "sms",
          "email",
          "whatsapp"
        ],
        "operationId": "Sms_login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationLoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationLoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "405": {
            "description": "Method not Allowed"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -i -X POST \\\nhttps://{host-domain}/api/authentication/login \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"username\": \"****\",\n  \"password\": \"****\"\n}'\n"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://{host-domain}/api/authentication/login\"\n\nheaders = {\n  \"Content-Type\": \"application/json\"\n}\n\npayload = {\n  \"username\": \"****\",\n  \"password\": \"****\"\n}\nresponse = requests.post(url, headers=headers, json=payload)\n\ndata = response.json()\nprint(data)\n"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.*;\nimport java.net.http.*;\nimport java.util.*;\n\npublic class App {\n  public static void main(String[] args) throws Exception {\n    var httpClient = HttpClient.newBuilder().build();\n    var payload = String.join(\"\\n\"\n\"{\"\n,\"  \\\"username\\\": \\\"****\\\",\"\n,\"  \\\"password\\\": \\\"****\\\"\"\n,\"}\"\n    );\n    \n\n    var host = \"https://{host-domain}\";\n    var pathname = \"/api/authentication/login\";\n    var request = HttpRequest.newBuilder()\n      .POST(HttpRequest.BodyPublishers.ofString(payload))\n      .uri(URI.create(host + pathname ))\n      .header(\"Content-Type\", \"value\")\n      .build();\n\n    var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());\n\n    System.out.println(response.body());\n  }\n}\n"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import fetch from 'node-fetch';\n\nasync function run() {\n\nconst resp = await fetch(\n`https://{host-domain}/api/authentication/login`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"username\": \"****\",\n    \"password\": \"****\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n}\n\nrun();\n"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "\nconst resp = await fetch(\n`https://{host-domain}/api/authentication/login`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"username\": \"****\",\n    \"password\": \"****\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "/**\n * Requires libcurl\n */\n\n$curl = curl_init();\n\n$payload = array(\n  \"username\" => \"****\",\n  \"password\" => \"****\"\n);\n$payload = array(\n  \"phone_number\" => \"+919999999999\",\n  \"message\" => \"string\"\n);\n\ncurl_setopt_array($curl, [\n  CURLOPT_HTTPHEADER => [\n  \"Content-Type: application/json\"\n],\n  CURLOPT_POSTFIELDS => json_encode($payload),\n  CURLOPT_URL => \"https://{host-domain}/api/authentication/login\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n]);\n\n$response = curl_exec($curl);\n$error = curl_error($curl);\n\ncurl_close($curl);\n\nif ($error) {\n  echo \"cURL Error #:\" . $error;\n} else {\n  echo $response;\n}\n"
          }
        ]
      }
    },
    "/sms/api/v1/update/profile": {
      "put": {
        "tags": [
          "sms"
        ],
        "operationId": "Sms_updateProfileDetails",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SmsUpdateProfileDetailsResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -i -X PUT \\\nhttps://{host-domain}/sms/api/v1/update/profile \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"companyName\": \"string\",\n  \"principleEntityId\": \"string\",\n  \"contactNo\": \"string\",\n  \"address\": \"string\",\n  \"name\": \"string\"\n}'\n"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://{host-domain}/sms/api/v1/update/profile\"\n\nheaders = {\n  \"Content-Type\": \"application/json\"\n}\n\npayload = {\n  \"companyName\": \"string\",\n  \"principleEntityId\": \"string\",\n  \"contactNo\": \"string\",\n  \"address\": \"string\",\n  \"name\": \"string\"\n}\nresponse = requests.put(url, headers=headers, json=payload)\n\ndata = response.json()\nprint(data)\n"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.*;\nimport java.net.http.*;\nimport java.util.*;\n\npublic class App {\n  public static void main(String[] args) throws Exception {\n    var httpClient = HttpClient.newBuilder().build();\n    var payload = String.join(\"\\n\"\n\"{\"\n,\"  \\\"companyName\\\": \\\"string\\\",\"\n,\"  \\\"principleEntityId\\\": \\\"string\\\",\"\n,\"  \\\"contactNo\\\": \\\"string\\\",\"\n,\"  \\\"address\\\": \\\"string\\\",\"\n,\"  \\\"name\\\": \\\"string\\\"\"\n,\"}\"\n    );\n    \n\n    var host = \"https://{host-domain}\";\n    var pathname = \"/sms/api/v1/update/profile\";\n    var request = HttpRequest.newBuilder()\n      .PUT(HttpRequest.BodyPublishers.ofString(payload))\n      .uri(URI.create(host + pathname ))\n      .header(\"Content-Type\", \"value\")\n      .build();\n\n    var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());\n\n    System.out.println(response.body());\n  }\n}\n"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import fetch from 'node-fetch';\n\nasync function run() {\n\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/update/profile`,\n{\n  \"method\": \"PUT\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"companyName\": \"string\",\n    \"principleEntityId\": \"string\",\n    \"contactNo\": \"string\",\n    \"address\": \"string\",\n    \"name\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n}\n\nrun();\n"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/update/profile`,\n{\n  \"method\": \"PUT\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"companyName\": \"string\",\n    \"principleEntityId\": \"string\",\n    \"contactNo\": \"string\",\n    \"address\": \"string\",\n    \"name\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "/**\n * Requires libcurl\n */\n\n$curl = curl_init();\n\n$payload = array(\n  \"companyName\" => \"string\",\n  \"principleEntityId\" => \"string\",\n  \"contactNo\" => \"string\",\n  \"address\" => \"string\",\n  \"name\" => \"string\"\n);\n$payload = array(\n  \"phone_number\" => \"+919999999999\",\n  \"message\" => \"string\"\n);\n\ncurl_setopt_array($curl, [\n  CURLOPT_HTTPHEADER => [\n  \"Content-Type: application/json\"\n],\n  CURLOPT_POSTFIELDS => json_encode($payload),\n  CURLOPT_URL => \"https://{host-domain}/sms/api/v1/update/profile\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"PUT\",\n]);\n\n$response = curl_exec($curl);\n$error = curl_error($curl);\n\ncurl_close($curl);\n\nif ($error) {\n  echo \"cURL Error #:\" . $error;\n} else {\n  echo $response;\n}\n"
          }
        ]
      }
    },
    "/sms/api/v1/accounting/update": {
      "put": {
        "tags": [
          "sms"
        ],
        "operationId": "Sms_updateAccountProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountingupdateModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SmsUpdateAccountProfileResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -i -X PUT \\\nhttps://{host-domain}/sms/api/v1/accounting/update \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"password\": \"string\"\n}'\n"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://{host-domain}/sms/api/v1/accounting/update\"\n\nheaders = {\n  \"Content-Type\": \"application/json\"\n}\n\npayload = {\n  \"password\": \"string\"\n}\nresponse = requests.put(url, headers=headers, json=payload)\n\ndata = response.json()\nprint(data)\n"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.*;\nimport java.net.http.*;\nimport java.util.*;\n\npublic class App {\n  public static void main(String[] args) throws Exception {\n    var httpClient = HttpClient.newBuilder().build();\n    var payload = String.join(\"\\n\"\n\"{\"\n,\"  \\\"password\\\": \\\"string\\\"\"\n,\"}\"\n    );\n    \n\n    var host = \"https://{host-domain}\";\n    var pathname = \"/sms/api/v1/accounting/update\";\n    var request = HttpRequest.newBuilder()\n      .PUT(HttpRequest.BodyPublishers.ofString(payload))\n      .uri(URI.create(host + pathname ))\n      .header(\"Content-Type\", \"value\")\n      .build();\n\n    var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());\n\n    System.out.println(response.body());\n  }\n}\n"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import fetch from 'node-fetch';\n\nasync function run() {\n\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/accounting/update`,\n{\n  \"method\": \"PUT\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"password\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n}\n\nrun();\n"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/accounting/update`,\n{\n  \"method\": \"PUT\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"password\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "/**\n * Requires libcurl\n */\n\n$curl = curl_init();\n\n$payload = array(\n  \"password\" => \"string\"\n);\n$payload = array(\n  \"phone_number\" => \"+919999999999\",\n  \"message\" => \"string\"\n);\n\ncurl_setopt_array($curl, [\n  CURLOPT_HTTPHEADER => [\n  \"Content-Type: application/json\"\n],\n  CURLOPT_POSTFIELDS => json_encode($payload),\n  CURLOPT_URL => \"https://{host-domain}/sms/api/v1/accounting/update\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"PUT\",\n]);\n\n$response = curl_exec($curl);\n$error = curl_error($curl);\n\ncurl_close($curl);\n\nif ($error) {\n  echo \"cURL Error #:\" . $error;\n} else {\n  echo $response;\n}\n"
          }
        ]
      }
    },
    "/sms/api/v1/websms/template": {
      "post": {
        "tags": [
          "sms"
        ],
        "operationId": "Sms_sendTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendTemplateModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateSwagger"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "unauthorized"
          },
          "405": {
            "description": "Method not Allowed"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -i -X POST \\\nhttps://{host-domain}/sms/api/v1/websms/template \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"sender\": \"string\",\n  \"message\": \"string\",\n  \"messageType\": \"string\",\n  \"templateName\": \"string\",\n  \"dltTemplateId\": \"string\"\n}'\n"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://{host-domain}/sms/api/v1/websms/template\"\n\nheaders = {\n  \"Content-Type\": \"application/json\"\n}\n\npayload = {\n  \"sender\": \"string\",\n  \"message\": \"string\",\n  \"messageType\": \"string\",\n  \"templateName\": \"string\",\n  \"dltTemplateId\": \"string\"\n}\nresponse = requests.post(url, headers=headers, json=payload)\n\ndata = response.json()\nprint(data)\n"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.*;\nimport java.net.http.*;\nimport java.util.*;\n\npublic class App {\n  public static void main(String[] args) throws Exception {\n    var httpClient = HttpClient.newBuilder().build();\n    var payload = String.join(\"\\n\"\n\"{\"\n,\"  \\\"sender\\\": \\\"string\\\",\"\n,\"  \\\"message\\\": \\\"string\\\",\"\n,\"  \\\"messageType\\\": \\\"string\\\",\"\n,\"  \\\"templateName\\\": \\\"string\\\",\"\n,\"  \\\"dltTemplateId\\\": \\\"string\\\"\"\n,\"}\"\n    );\n    \n\n    var host = \"https://{host-domain}\";\n    var pathname = \"/sms/api/v1/websms/template\";\n    var request = HttpRequest.newBuilder()\n      .POST(HttpRequest.BodyPublishers.ofString(payload))\n      .uri(URI.create(host + pathname ))\n      .header(\"Content-Type\", \"value\")\n      .build();\n\n    var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());\n\n    System.out.println(response.body());\n  }\n}\n"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import fetch from 'node-fetch';\n\nasync function run() {\n\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/websms/template`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"sender\": \"string\",\n    \"message\": \"string\",\n    \"messageType\": \"string\",\n    \"templateName\": \"string\",\n    \"dltTemplateId\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n}\n\nrun();\n"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/websms/template`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"sender\": \"string\",\n    \"message\": \"string\",\n    \"messageType\": \"string\",\n    \"templateName\": \"string\",\n    \"dltTemplateId\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "/**\n * Requires libcurl\n */\n\n$curl = curl_init();\n\n$payload = array(\n  \"sender\" => \"string\",\n  \"message\" => \"string\",\n  \"messageType\" => \"string\",\n  \"templateName\" => \"string\",\n  \"dltTemplateId\" => \"string\"\n);\n$payload = array(\n  \"phone_number\" => \"+919999999999\",\n  \"message\" => \"string\"\n);\n\ncurl_setopt_array($curl, [\n  CURLOPT_HTTPHEADER => [\n  \"Content-Type: application/json\"\n],\n  CURLOPT_POSTFIELDS => json_encode($payload),\n  CURLOPT_URL => \"https://{host-domain}/sms/api/v1/websms/template\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n]);\n\n$response = curl_exec($curl);\n$error = curl_error($curl);\n\ncurl_close($curl);\n\nif ($error) {\n  echo \"cURL Error #:\" . $error;\n} else {\n  echo $response;\n}\n"
          }
        ]
      }
    },
    "/sms/api/v1/websms/single": {
      "post": {
        "tags": [
          "sms"
        ],
        "operationId": "Sms_single",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SingleSmsProcedure"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateSwagger"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "unauthorized"
          },
          "405": {
            "description": "Method not Allowed"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -i -X POST \\\nhttps://{host-domain}/sms/api/v1/websms/single \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"mobileNo\": \"string\",\n  \"sender\": \"string\",\n  \"messageType\": \"string\",\n  \"messages\": \"string\",\n  \"peId\": \"string\",\n  \"tempId\": \"string\",\n  \"countCharacter\": \"int32\"\n}'\n"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://{host-domain}/sms/api/v1/websms/single\"\n\nheaders = {\n  \"Content-Type\": \"application/json\"\n}\n\npayload = {\n  \"mobileNo\": \"string\",\n  \"sender\": \"string\",\n  \"messageType\": \"string\",\n  \"messages\": \"string\",\n  \"peId\": \"string\",\n  \"tempId\": \"string\",\n  \"countCharacter\": \"int32\"\n}\nresponse = requests.post(url, headers=headers, json=payload)\n\ndata = response.json()\nprint(data)\n"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.*;\nimport java.net.http.*;\nimport java.util.*;\n\npublic class App {\n  public static void main(String[] args) throws Exception {\n    var httpClient = HttpClient.newBuilder().build();\n    var payload = String.join(\"\\n\"\n\"{\"\n,\"  \\\"mobileNo\\\": \\\"string\\\",\"\n,\"  \\\"sender\\\": \\\"string\\\",\"\n,\"  \\\"messageType\\\": \\\"string\\\",\"\n,\"  \\\"messages\\\": \\\"string\\\",\"\n,\"  \\\"peId\\\": \\\"string\\\",\"\n,\"  \\\"tempId\\\": \\\"string\\\",\"\n,\"  \\\"countCharacter\\\": \\\"int32\\\"\"\n,\"}\"\n    );\n    \n\n    var host = \"https://{host-domain}\";\n    var pathname = \"/sms/api/v1/websms/single\";\n    var request = HttpRequest.newBuilder()\n      .POST(HttpRequest.BodyPublishers.ofString(payload))\n      .uri(URI.create(host + pathname ))\n      .header(\"Content-Type\", \"value\")\n      .build();\n\n    var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());\n\n    System.out.println(response.body());\n  }\n}\n"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import fetch from 'node-fetch';\n\nasync function run() {\n\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/websms/single`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"mobileNo\": \"string\",\n    \"sender\": \"string\",\n    \"messageType\": \"string\",\n    \"messages\": \"string\",\n    \"peId\": \"string\",\n    \"tempId\": \"string\",\n    \"countCharacter\": \"int32\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n}\n\nrun();\n"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/websms/single`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"mobileNo\": \"string\",\n    \"sender\": \"string\",\n    \"messageType\": \"string\",\n    \"messages\": \"string\",\n    \"peId\": \"string\",\n    \"tempId\": \"string\",\n    \"countCharacter\": \"int32\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "/**\n * Requires libcurl\n */\n\n$curl = curl_init();\n\n$payload = array(\n  \"mobileNo\" => \"string\",\n  \"sender\" => \"string\",\n  \"messageType\" => \"string\",\n  \"messages\" => \"string\",\n  \"peId\" => \"string\",\n  \"tempId\" => \"string\",\n  \"countCharacter\" => \"int32\"\n);\n$payload = array(\n  \"phone_number\" => \"+919999999999\",\n  \"message\" => \"string\"\n);\n\ncurl_setopt_array($curl, [\n  CURLOPT_HTTPHEADER => [\n  \"Content-Type: application/json\"\n],\n  CURLOPT_POSTFIELDS => json_encode($payload),\n  CURLOPT_URL => \"https://{host-domain}/sms/api/v1/websms/single\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n]);\n\n$response = curl_exec($curl);\n$error = curl_error($curl);\n\ncurl_close($curl);\n\nif ($error) {\n  echo \"cURL Error #:\" . $error;\n} else {\n  echo $response;\n}\n"
          }
        ]
      }
    },
    "/sms/api/v1/websms/retrieve/template": {
      "post": {
        "tags": [
          "sms"
        ],
        "operationId": "Sms_retrieveTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateRetrievingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetreiveModelSwagger"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "unauthorized"
          },
          "405": {
            "description": "Method not Allowed"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -i -X POST \\\nhttps://{host-domain}/sms/api/v1/websms/retrieve/template \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"search\": \"string\"\n}'\n"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://{host-domain}/sms/api/v1/websms/retrieve/template\"\n\nheaders = {\n  \"Content-Type\": \"application/json\"\n}\n\npayload = {\n  \"search\": \"string\"\n}\nresponse = requests.post(url, headers=headers, json=payload)\n\ndata = response.json()\nprint(data)\n"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.*;\nimport java.net.http.*;\nimport java.util.*;\n\npublic class App {\n  public static void main(String[] args) throws Exception {\n    var httpClient = HttpClient.newBuilder().build();\n    var payload = String.join(\"\\n\"\n\"{\"\n,\"  \\\"search\\\": \\\"string\\\"\"\n,\"}\"\n    );\n    \n\n    var host = \"https://{host-domain}\";\n    var pathname = \"/sms/api/v1/websms/retrieve/template\";\n    var request = HttpRequest.newBuilder()\n      .POST(HttpRequest.BodyPublishers.ofString(payload))\n      .uri(URI.create(host + pathname ))\n      .header(\"Content-Type\", \"value\")\n      .build();\n\n    var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());\n\n    System.out.println(response.body());\n  }\n}\n"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import fetch from 'node-fetch';\n\nasync function run() {\n\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/websms/retrieve/template`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"search\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n}\n\nrun();\n"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/websms/retrieve/template`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"search\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "/**\n * Requires libcurl\n */\n\n$curl = curl_init();\n\n$payload = array(\n  \"search\" => \"string\"\n);\n$payload = array(\n  \"phone_number\" => \"+919999999999\",\n  \"message\" => \"string\"\n);\n\ncurl_setopt_array($curl, [\n  CURLOPT_HTTPHEADER => [\n  \"Content-Type: application/json\"\n],\n  CURLOPT_POSTFIELDS => json_encode($payload),\n  CURLOPT_URL => \"https://{host-domain}/sms/api/v1/websms/retrieve/template\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n]);\n\n$response = curl_exec($curl);\n$error = curl_error($curl);\n\ncurl_close($curl);\n\nif ($error) {\n  echo \"cURL Error #:\" . $error;\n} else {\n  echo $response;\n}\n"
          }
        ]
      }
    },
    "/sms/api/v1/websms/personalize": {
      "post": {
        "tags": [
          "sms"
        ],
        "operationId": "Sms_sendPersonalizedMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultipleSmsSource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateSwagger"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "unauthorized"
          },
          "405": {
            "description": "Method not Allowed"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -i -X POST \\\nhttps://{host-domain}/sms/api/v1/websms/personalize \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"sender\": \"string\",\n  \"smsType\": \"string\",\n  \"fromDate\": \"int64\",\n  \"fileName\": \"string\",\n  \"totalNumber\": \"int32\",\n  \"message\": \"string\",\n  \"peId\": \"string\",\n  \"templateId\": \"string\",\n  \"campaignName\": \"string\"\n}'\n"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://{host-domain}/sms/api/v1/websms/personalize\"\n\nheaders = {\n  \"Content-Type\": \"application/json\"\n}\n\npayload = {\n  \"sender\": \"string\",\n  \"smsType\": \"string\",\n  \"fromDate\": \"int64\",\n  \"fileName\": \"string\",\n  \"totalNumber\": \"int32\",\n  \"message\": \"string\",\n  \"peId\": \"string\",\n  \"templateId\": \"string\",\n  \"campaignName\": \"string\"\n}\nresponse = requests.post(url, headers=headers, json=payload)\n\ndata = response.json()\nprint(data)\n"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.*;\nimport java.net.http.*;\nimport java.util.*;\n\npublic class App {\n  public static void main(String[] args) throws Exception {\n    var httpClient = HttpClient.newBuilder().build();\n    var payload = String.join(\"\\n\"\n\"{\"\n,\"  \\\"sender\\\": \\\"string\\\",\"\n,\"  \\\"smsType\\\": \\\"string\\\",\"\n,\"  \\\"fromDate\\\": \\\"int64\\\",\"\n,\"  \\\"fileName\\\": \\\"string\\\",\"\n,\"  \\\"totalNumber\\\": \\\"int32\\\",\"\n,\"  \\\"message\\\": \\\"string\\\",\"\n,\"  \\\"peId\\\": \\\"string\\\",\"\n,\"  \\\"templateId\\\": \\\"string\\\",\"\n,\"  \\\"campaignName\\\": \\\"string\\\"\"\n,\"}\"\n    );\n    \n\n    var host = \"https://{host-domain}\";\n    var pathname = \"/sms/api/v1/websms/personalize\";\n    var request = HttpRequest.newBuilder()\n      .POST(HttpRequest.BodyPublishers.ofString(payload))\n      .uri(URI.create(host + pathname ))\n      .header(\"Content-Type\", \"value\")\n      .build();\n\n    var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());\n\n    System.out.println(response.body());\n  }\n}\n"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import fetch from 'node-fetch';\n\nasync function run() {\n\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/websms/personalize`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"sender\": \"string\",\n    \"smsType\": \"string\",\n    \"fromDate\": \"int64\",\n    \"fileName\": \"string\",\n    \"totalNumber\": \"int32\",\n    \"message\": \"string\",\n    \"peId\": \"string\",\n    \"templateId\": \"string\",\n    \"campaignName\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n}\n\nrun();\n"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/websms/personalize`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"sender\": \"string\",\n    \"smsType\": \"string\",\n    \"fromDate\": \"int64\",\n    \"fileName\": \"string\",\n    \"totalNumber\": \"int32\",\n    \"message\": \"string\",\n    \"peId\": \"string\",\n    \"templateId\": \"string\",\n    \"campaignName\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "/**\n * Requires libcurl\n */\n\n$curl = curl_init();\n\n$payload = array(\n  \"sender\" => \"string\",\n  \"smsType\" => \"string\",\n  \"fromDate\" => \"int64\",\n  \"fileName\" => \"string\",\n  \"totalNumber\" => \"int32\",\n  \"message\" => \"string\",\n  \"peId\" => \"string\",\n  \"templateId\" => \"string\",\n  \"campaignName\" => \"string\"\n);\n$payload = array(\n  \"phone_number\" => \"+919999999999\",\n  \"message\" => \"string\"\n);\n\ncurl_setopt_array($curl, [\n  CURLOPT_HTTPHEADER => [\n  \"Content-Type: application/json\"\n],\n  CURLOPT_POSTFIELDS => json_encode($payload),\n  CURLOPT_URL => \"https://{host-domain}/sms/api/v1/websms/personalize\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n]);\n\n$response = curl_exec($curl);\n$error = curl_error($curl);\n\ncurl_close($curl);\n\nif ($error) {\n  echo \"cURL Error #:\" . $error;\n} else {\n  echo $response;\n}\n"
          }
        ]
      }
    },
    "/sms/api/v1/websms/multiple": {
      "post": {
        "tags": [
          "sms"
        ],
        "operationId": "Sms_countDatewiseSender",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultipleSmsSource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateSwagger"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "unauthorized"
          },
          "405": {
            "description": "Method not Allowed"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -i -X POST \\\nhttps://{host-domain}/sms/api/v1/websms/multiple \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"sender\": \"string\",\n  \"smsType\": \"string\",\n  \"fromDate\": \"int64\",\n  \"fileName\": \"string\",\n  \"totalNumber\": \"int32\",\n  \"message\": \"string\",\n  \"peId\": \"string\",\n  \"templateId\": \"string\",\n  \"campaignName\": \"string\"\n}'\n"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://{host-domain}/sms/api/v1/websms/multiple\"\n\nheaders = {\n  \"Content-Type\": \"application/json\"\n}\n\npayload = {\n  \"sender\": \"string\",\n  \"smsType\": \"string\",\n  \"fromDate\": \"int64\",\n  \"fileName\": \"string\",\n  \"totalNumber\": \"int32\",\n  \"message\": \"string\",\n  \"peId\": \"string\",\n  \"templateId\": \"string\",\n  \"campaignName\": \"string\"\n}\nresponse = requests.post(url, headers=headers, json=payload)\n\ndata = response.json()\nprint(data)\n"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.*;\nimport java.net.http.*;\nimport java.util.*;\n\npublic class App {\n  public static void main(String[] args) throws Exception {\n    var httpClient = HttpClient.newBuilder().build();\n    var payload = String.join(\"\\n\"\n\"{\"\n,\"  \\\"sender\\\": \\\"string\\\",\"\n,\"  \\\"smsType\\\": \\\"string\\\",\"\n,\"  \\\"fromDate\\\": \\\"int64\\\",\"\n,\"  \\\"fileName\\\": \\\"string\\\",\"\n,\"  \\\"totalNumber\\\": \\\"int32\\\",\"\n,\"  \\\"message\\\": \\\"string\\\",\"\n,\"  \\\"peId\\\": \\\"string\\\",\"\n,\"  \\\"templateId\\\": \\\"string\\\",\"\n,\"  \\\"campaignName\\\": \\\"string\\\"\"\n,\"}\"\n    );\n    \n\n    var host = \"https://{host-domain}\";\n    var pathname = \"/sms/api/v1/websms/multiple\";\n    var request = HttpRequest.newBuilder()\n      .POST(HttpRequest.BodyPublishers.ofString(payload))\n      .uri(URI.create(host + pathname ))\n      .header(\"Content-Type\", \"value\")\n      .build();\n\n    var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());\n\n    System.out.println(response.body());\n  }\n}\n"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import fetch from 'node-fetch';\n\nasync function run() {\n\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/websms/multiple`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"sender\": \"string\",\n    \"smsType\": \"string\",\n    \"fromDate\": \"int64\",\n    \"fileName\": \"string\",\n    \"totalNumber\": \"int32\",\n    \"message\": \"string\",\n    \"peId\": \"string\",\n    \"templateId\": \"string\",\n    \"campaignName\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n}\n\nrun();\n"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/websms/multiple`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"sender\": \"string\",\n    \"smsType\": \"string\",\n    \"fromDate\": \"int64\",\n    \"fileName\": \"string\",\n    \"totalNumber\": \"int32\",\n    \"message\": \"string\",\n    \"peId\": \"string\",\n    \"templateId\": \"string\",\n    \"campaignName\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "/**\n * Requires libcurl\n */\n\n$curl = curl_init();\n\n$payload = array(\n  \"sender\" => \"string\",\n  \"smsType\" => \"string\",\n  \"fromDate\" => \"int64\",\n  \"fileName\" => \"string\",\n  \"totalNumber\" => \"int32\",\n  \"message\" => \"string\",\n  \"peId\" => \"string\",\n  \"templateId\" => \"string\",\n  \"campaignName\" => \"string\"\n);\n$payload = array(\n  \"phone_number\" => \"+919999999999\",\n  \"message\" => \"string\"\n);\n\ncurl_setopt_array($curl, [\n  CURLOPT_HTTPHEADER => [\n  \"Content-Type: application/json\"\n],\n  CURLOPT_POSTFIELDS => json_encode($payload),\n  CURLOPT_URL => \"https://{host-domain}/sms/api/v1/websms/multiple\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n]);\n\n$response = curl_exec($curl);\n$error = curl_error($curl);\n\ncurl_close($curl);\n\nif ($error) {\n  echo \"cURL Error #:\" . $error;\n} else {\n  echo $response;\n}\n"
          }
        ]
      }
    },
    "/sms/api/v1/upload": {
      "post": {
        "tags": [
          "sms"
        ],
        "operationId": "Sms_uploadFile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsUploadFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/uploadSwagger"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "unauthorized"
          },
          "405": {
            "description": "Method not Allowed"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -i -X POST \\\nhttps://{host-domain}/sms/api/v1/upload \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"file\": \"binary\"\n}'\n"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://{host-domain}/sms/api/v1/upload\"\n\nheaders = {\n  \"Content-Type\": \"application/json\"\n}\n\npayload = {\n  \"file\": \"binary\"\n}\nresponse = requests.post(url, headers=headers, json=payload)\n\ndata = response.json()\nprint(data)\n"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.*;\nimport java.net.http.*;\nimport java.util.*;\n\npublic class App {\n  public static void main(String[] args) throws Exception {\n    var httpClient = HttpClient.newBuilder().build();\n    var payload = String.join(\"\\n\"\n\"{\"\n,\"  \\\"file\\\": \\\"binary\\\"\"\n,\"}\"\n    );\n    \n\n    var host = \"https://{host-domain}\";\n    var pathname = \"/sms/api/v1/upload\";\n    var request = HttpRequest.newBuilder()\n      .POST(HttpRequest.BodyPublishers.ofString(payload))\n      .uri(URI.create(host + pathname ))\n      .header(\"Content-Type\", \"value\")\n      .build();\n\n    var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());\n\n    System.out.println(response.body());\n  }\n}\n"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import fetch from 'node-fetch';\n\nasync function run() {\n\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/upload`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"file\": \"binary\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n}\n\nrun();\n"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/upload`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"file\": \"binary\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "/**\n * Requires libcurl\n */\n\n$curl = curl_init();\n\n$payload = array(\n  \"file\" => \"binary\"\n);\n$payload = array(\n  \"phone_number\" => \"+919999999999\",\n  \"message\" => \"string\"\n);\n\ncurl_setopt_array($curl, [\n  CURLOPT_HTTPHEADER => [\n  \"Content-Type: application/json\"\n],\n  CURLOPT_POSTFIELDS => json_encode($payload),\n  CURLOPT_URL => \"https://{host-domain}/sms/api/v1/upload\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n]);\n\n$response = curl_exec($curl);\n$error = curl_error($curl);\n\ncurl_close($curl);\n\nif ($error) {\n  echo \"cURL Error #:\" . $error;\n} else {\n  echo $response;\n}\n"
          }
        ]
      }
    },
    "/sms/api/v1/smslog": {
      "post": {
        "tags": [
          "sms"
        ],
        "operationId": "Sms_logd",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsLogSwagger"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "unauthorized"
          },
          "405": {
            "description": "Method not Allowed"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -i -X POST \\\nhttps://{host-domain}/sms/api/v1/smslog \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"page\": \"int32\",\n  \"size\": \"int32\",\n  \"search\": \"string\",\n  \"action\": \"string\",\n  \"jobid\": \"int32\"\n}'\n"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://{host-domain}/sms/api/v1/smslog\"\n\nheaders = {\n  \"Content-Type\": \"application/json\"\n}\n\npayload = {\n  \"page\": \"int32\",\n  \"size\": \"int32\",\n  \"search\": \"string\",\n  \"action\": \"string\",\n  \"jobid\": \"int32\"\n}\nresponse = requests.post(url, headers=headers, json=payload)\n\ndata = response.json()\nprint(data)\n"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.*;\nimport java.net.http.*;\nimport java.util.*;\n\npublic class App {\n  public static void main(String[] args) throws Exception {\n    var httpClient = HttpClient.newBuilder().build();\n    var payload = String.join(\"\\n\"\n\"{\"\n,\"  \\\"page\\\": \\\"int32\\\",\"\n,\"  \\\"size\\\": \\\"int32\\\",\"\n,\"  \\\"search\\\": \\\"string\\\",\"\n,\"  \\\"action\\\": \\\"string\\\",\"\n,\"  \\\"jobid\\\": \\\"int32\\\"\"\n,\"}\"\n    );\n    \n\n    var host = \"https://{host-domain}\";\n    var pathname = \"/sms/api/v1/smslog\";\n    var request = HttpRequest.newBuilder()\n      .POST(HttpRequest.BodyPublishers.ofString(payload))\n      .uri(URI.create(host + pathname ))\n      .header(\"Content-Type\", \"value\")\n      .build();\n\n    var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());\n\n    System.out.println(response.body());\n  }\n}\n"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import fetch from 'node-fetch';\n\nasync function run() {\n\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/smslog`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"page\": \"int32\",\n    \"size\": \"int32\",\n    \"search\": \"string\",\n    \"action\": \"string\",\n    \"jobid\": \"int32\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n}\n\nrun();\n"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/smslog`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"page\": \"int32\",\n    \"size\": \"int32\",\n    \"search\": \"string\",\n    \"action\": \"string\",\n    \"jobid\": \"int32\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "/**\n * Requires libcurl\n */\n\n$curl = curl_init();\n\n$payload = array(\n  \"page\" => \"int32\",\n  \"size\" => \"int32\",\n  \"search\" => \"string\",\n  \"action\" => \"string\",\n  \"jobid\" => \"int32\"\n);\n$payload = array(\n  \"phone_number\" => \"+919999999999\",\n  \"message\" => \"string\"\n);\n\ncurl_setopt_array($curl, [\n  CURLOPT_HTTPHEADER => [\n  \"Content-Type: application/json\"\n],\n  CURLOPT_POSTFIELDS => json_encode($payload),\n  CURLOPT_URL => \"https://{host-domain}/sms/api/v1/smslog\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n]);\n\n$response = curl_exec($curl);\n$error = curl_error($curl);\n\ncurl_close($curl);\n\nif ($error) {\n  echo \"cURL Error #:\" . $error;\n} else {\n  echo $response;\n}\n"
          }
        ]
      }
    },
    "/sms/api/v1/sender/statistic": {
      "post": {
        "tags": [
          "sms"
        ],
        "operationId": "Sms_senderStatistic",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SenderWiseStatisticModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SmsSenderStatisticResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -i -X POST \\\nhttps://{host-domain}/sms/api/v1/sender/statistic \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"fromDate\": \"int64\",\n  \"toDate\": \"int64\",\n  \"page\": \"int32\",\n  \"size\": \"int32\",\n  \"search\": \"string\"\n}'\n"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://{host-domain}/sms/api/v1/sender/statistic\"\n\nheaders = {\n  \"Content-Type\": \"application/json\"\n}\n\npayload = {\n  \"fromDate\": \"int64\",\n  \"toDate\": \"int64\",\n  \"page\": \"int32\",\n  \"size\": \"int32\",\n  \"search\": \"string\"\n}\nresponse = requests.post(url, headers=headers, json=payload)\n\ndata = response.json()\nprint(data)\n"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.*;\nimport java.net.http.*;\nimport java.util.*;\n\npublic class App {\n  public static void main(String[] args) throws Exception {\n    var httpClient = HttpClient.newBuilder().build();\n    var payload = String.join(\"\\n\"\n\"{\"\n,\"  \\\"fromDate\\\": \\\"int64\\\",\"\n,\"  \\\"toDate\\\": \\\"int64\\\",\"\n,\"  \\\"page\\\": \\\"int32\\\",\"\n,\"  \\\"size\\\": \\\"int32\\\",\"\n,\"  \\\"search\\\": \\\"string\\\"\"\n,\"}\"\n    );\n    \n\n    var host = \"https://{host-domain}\";\n    var pathname = \"/sms/api/v1/sender/statistic\";\n    var request = HttpRequest.newBuilder()\n      .POST(HttpRequest.BodyPublishers.ofString(payload))\n      .uri(URI.create(host + pathname ))\n      .header(\"Content-Type\", \"value\")\n      .build();\n\n    var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());\n\n    System.out.println(response.body());\n  }\n}\n"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import fetch from 'node-fetch';\n\nasync function run() {\n\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/sender/statistic`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"fromDate\": \"int64\",\n    \"toDate\": \"int64\",\n    \"page\": \"int32\",\n    \"size\": \"int32\",\n    \"search\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n}\n\nrun();\n"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/sender/statistic`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"fromDate\": \"int64\",\n    \"toDate\": \"int64\",\n    \"page\": \"int32\",\n    \"size\": \"int32\",\n    \"search\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "/**\n * Requires libcurl\n */\n\n$curl = curl_init();\n\n$payload = array(\n  \"fromDate\" => \"int64\",\n  \"toDate\" => \"int64\",\n  \"page\" => \"int32\",\n  \"size\" => \"int32\",\n  \"search\" => \"string\"\n);\n$payload = array(\n  \"phone_number\" => \"+919999999999\",\n  \"message\" => \"string\"\n);\n\ncurl_setopt_array($curl, [\n  CURLOPT_HTTPHEADER => [\n  \"Content-Type: application/json\"\n],\n  CURLOPT_POSTFIELDS => json_encode($payload),\n  CURLOPT_URL => \"https://{host-domain}/sms/api/v1/sender/statistic\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n]);\n\n$response = curl_exec($curl);\n$error = curl_error($curl);\n\ncurl_close($curl);\n\nif ($error) {\n  echo \"cURL Error #:\" . $error;\n} else {\n  echo $response;\n}\n"
          }
        ]
      }
    },
    "/sms/api/v1/sender/manage": {
      "post": {
        "tags": [
          "sms"
        ],
        "operationId": "Sms_manageSender",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SenderMangeModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SmsManageSenderResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -i -X POST \\\nhttps://{host-domain}/sms/api/v1/sender/manage \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"page\": \"int32\",\n  \"size\": \"int32\",\n  \"search\": \"string\",\n  \"sender\": \"string\",\n  \"delete\": true\n}'\n"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://{host-domain}/sms/api/v1/sender/manage\"\n\nheaders = {\n  \"Content-Type\": \"application/json\"\n}\n\npayload = {\n  \"page\": \"int32\",\n  \"size\": \"int32\",\n  \"search\": \"string\",\n  \"sender\": \"string\",\n  \"delete\": true\n}\nresponse = requests.post(url, headers=headers, json=payload)\n\ndata = response.json()\nprint(data)\n"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.*;\nimport java.net.http.*;\nimport java.util.*;\n\npublic class App {\n  public static void main(String[] args) throws Exception {\n    var httpClient = HttpClient.newBuilder().build();\n    var payload = String.join(\"\\n\"\n\"{\"\n,\"  \\\"page\\\": \\\"int32\\\",\"\n,\"  \\\"size\\\": \\\"int32\\\",\"\n,\"  \\\"search\\\": \\\"string\\\",\"\n,\"  \\\"sender\\\": \\\"string\\\",\"\n,\"  \\\"delete\\\": true\"\n,\"}\"\n    );\n    \n\n    var host = \"https://{host-domain}\";\n    var pathname = \"/sms/api/v1/sender/manage\";\n    var request = HttpRequest.newBuilder()\n      .POST(HttpRequest.BodyPublishers.ofString(payload))\n      .uri(URI.create(host + pathname ))\n      .header(\"Content-Type\", \"value\")\n      .build();\n\n    var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());\n\n    System.out.println(response.body());\n  }\n}\n"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import fetch from 'node-fetch';\n\nasync function run() {\n\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/sender/manage`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"page\": \"int32\",\n    \"size\": \"int32\",\n    \"search\": \"string\",\n    \"sender\": \"string\",\n    \"delete\": true\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n}\n\nrun();\n"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/sender/manage`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"page\": \"int32\",\n    \"size\": \"int32\",\n    \"search\": \"string\",\n    \"sender\": \"string\",\n    \"delete\": true\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "/**\n * Requires libcurl\n */\n\n$curl = curl_init();\n\n$payload = array(\n  \"page\" => \"int32\",\n  \"size\" => \"int32\",\n  \"search\" => \"string\",\n  \"sender\" => \"string\",\n  \"delete\" => true\n);\n$payload = array(\n  \"phone_number\" => \"+919999999999\",\n  \"message\" => \"string\"\n);\n\ncurl_setopt_array($curl, [\n  CURLOPT_HTTPHEADER => [\n  \"Content-Type: application/json\"\n],\n  CURLOPT_POSTFIELDS => json_encode($payload),\n  CURLOPT_URL => \"https://{host-domain}/sms/api/v1/sender/manage\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n]);\n\n$response = curl_exec($curl);\n$error = curl_error($curl);\n\ncurl_close($curl);\n\nif ($error) {\n  echo \"cURL Error #:\" . $error;\n} else {\n  echo $response;\n}\n"
          }
        ]
      }
    },
    "/sms/api/v1/sender/block": {
      "post": {
        "tags": [
          "sms"
        ],
        "operationId": "Sms_blockSender",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockNumberModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SmsBlockSenderResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -i -X POST \\\nhttps://{host-domain}/sms/api/v1/sender/block \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"page\": \"int32\",\n  \"size\": \"int32\",\n  \"search\": \"string\",\n  \"delete\": true,\n  \"mobileno\": \"string\"\n}'\n"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://{host-domain}/sms/api/v1/sender/block\"\n\nheaders = {\n  \"Content-Type\": \"application/json\"\n}\n\npayload = {\n  \"page\": \"int32\",\n  \"size\": \"int32\",\n  \"search\": \"string\",\n  \"delete\": true,\n  \"mobileno\": \"string\"\n}\nresponse = requests.post(url, headers=headers, json=payload)\n\ndata = response.json()\nprint(data)\n"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.*;\nimport java.net.http.*;\nimport java.util.*;\n\npublic class App {\n  public static void main(String[] args) throws Exception {\n    var httpClient = HttpClient.newBuilder().build();\n    var payload = String.join(\"\\n\"\n\"{\"\n,\"  \\\"page\\\": \\\"int32\\\",\"\n,\"  \\\"size\\\": \\\"int32\\\",\"\n,\"  \\\"search\\\": \\\"string\\\",\"\n,\"  \\\"delete\\\": true,\"\n,\"  \\\"mobileno\\\": \\\"string\\\"\"\n,\"}\"\n    );\n    \n\n    var host = \"https://{host-domain}\";\n    var pathname = \"/sms/api/v1/sender/block\";\n    var request = HttpRequest.newBuilder()\n      .POST(HttpRequest.BodyPublishers.ofString(payload))\n      .uri(URI.create(host + pathname ))\n      .header(\"Content-Type\", \"value\")\n      .build();\n\n    var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());\n\n    System.out.println(response.body());\n  }\n}\n"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import fetch from 'node-fetch';\n\nasync function run() {\n\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/sender/block`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"page\": \"int32\",\n    \"size\": \"int32\",\n    \"search\": \"string\",\n    \"delete\": true,\n    \"mobileno\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n}\n\nrun();\n"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/sender/block`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"page\": \"int32\",\n    \"size\": \"int32\",\n    \"search\": \"string\",\n    \"delete\": true,\n    \"mobileno\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "/**\n * Requires libcurl\n */\n\n$curl = curl_init();\n\n$payload = array(\n  \"page\" => \"int32\",\n  \"size\" => \"int32\",\n  \"search\" => \"string\",\n  \"delete\" => true,\n  \"mobileno\" => \"string\"\n);\n$payload = array(\n  \"phone_number\" => \"+919999999999\",\n  \"message\" => \"string\"\n);\n\ncurl_setopt_array($curl, [\n  CURLOPT_HTTPHEADER => [\n  \"Content-Type: application/json\"\n],\n  CURLOPT_POSTFIELDS => json_encode($payload),\n  CURLOPT_URL => \"https://{host-domain}/sms/api/v1/sender/block\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n]);\n\n$response = curl_exec($curl);\n$error = curl_error($curl);\n\ncurl_close($curl);\n\nif ($error) {\n  echo \"cURL Error #:\" . $error;\n} else {\n  echo $response;\n}\n"
          }
        ]
      }
    },
    "/sms/api/v1/retreive/download/center": {
      "post": {
        "tags": [
          "sms"
        ],
        "operationId": "Sms_retrieveDownloadCenter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetreiveDownloadModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SmsRetrieveDownloadCenterResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -i -X POST \\\nhttps://{host-domain}/sms/api/v1/retreive/download/center \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"page\": \"int32\",\n  \"size\": \"int32\",\n  \"search\": \"string\"\n}'\n"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://{host-domain}/sms/api/v1/retreive/download/center\"\n\nheaders = {\n  \"Content-Type\": \"application/json\"\n}\n\npayload = {\n  \"page\": \"int32\",\n  \"size\": \"int32\",\n  \"search\": \"string\"\n}\nresponse = requests.post(url, headers=headers, json=payload)\n\ndata = response.json()\nprint(data)\n"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.*;\nimport java.net.http.*;\nimport java.util.*;\n\npublic class App {\n  public static void main(String[] args) throws Exception {\n    var httpClient = HttpClient.newBuilder().build();\n    var payload = String.join(\"\\n\"\n\"{\"\n,\"  \\\"page\\\": \\\"int32\\\",\"\n,\"  \\\"size\\\": \\\"int32\\\",\"\n,\"  \\\"search\\\": \\\"string\\\"\"\n,\"}\"\n    );\n    \n\n    var host = \"https://{host-domain}\";\n    var pathname = \"/sms/api/v1/retreive/download/center\";\n    var request = HttpRequest.newBuilder()\n      .POST(HttpRequest.BodyPublishers.ofString(payload))\n      .uri(URI.create(host + pathname ))\n      .header(\"Content-Type\", \"value\")\n      .build();\n\n    var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());\n\n    System.out.println(response.body());\n  }\n}\n"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import fetch from 'node-fetch';\n\nasync function run() {\n\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/retreive/download/center`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"page\": \"int32\",\n    \"size\": \"int32\",\n    \"search\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n}\n\nrun();\n"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/retreive/download/center`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"page\": \"int32\",\n    \"size\": \"int32\",\n    \"search\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "/**\n * Requires libcurl\n */\n\n$curl = curl_init();\n\n$payload = array(\n  \"page\" => \"int32\",\n  \"size\" => \"int32\",\n  \"search\" => \"string\"\n);\n$payload = array(\n  \"phone_number\" => \"+919999999999\",\n  \"message\" => \"string\"\n);\n\ncurl_setopt_array($curl, [\n  CURLOPT_HTTPHEADER => [\n  \"Content-Type: application/json\"\n],\n  CURLOPT_POSTFIELDS => json_encode($payload),\n  CURLOPT_URL => \"https://{host-domain}/sms/api/v1/retreive/download/center\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n]);\n\n$response = curl_exec($curl);\n$error = curl_error($curl);\n\ncurl_close($curl);\n\nif ($error) {\n  echo \"cURL Error #:\" . $error;\n} else {\n  echo $response;\n}\n"
          }
        ]
      }
    },
    "/sms/api/v1/profile": {
      "post": {
        "tags": [
          "sms"
        ],
        "operationId": "Sms_profileDetail",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SmsProfileDetailResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -i -X POST \\\nhttps://{host-domain}/sms/api/v1/profile \\\n-H 'Content-Type: application/json' \\\n\n"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://{host-domain}/sms/api/v1/profile\"\n\nheaders = {\n  \"Content-Type\": \"application/json\"\n}\n\n\nresponse = requests.post(url, headers=headers)\n\ndata = response.json()\nprint(data)\n"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.*;\nimport java.net.http.*;\nimport java.util.*;\n\npublic class App {\n  public static void main(String[] args) throws Exception {\n    var httpClient = HttpClient.newBuilder().build();\n    \n    \n\n    var host = \"https://{host-domain}\";\n    var pathname = \"/sms/api/v1/profile\";\n    var request = HttpRequest.newBuilder()\n      .POST()\n      .uri(URI.create(host + pathname ))\n      .header(\"Content-Type\", \"value\")\n      .build();\n\n    var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());\n\n    System.out.println(response.body());\n  }\n}\n"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import fetch from 'node-fetch';\n\nasync function run() {\n\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/profile`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n}\n\nrun();\n"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/profile`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "/**\n * Requires libcurl\n */\n\n$curl = curl_init();\n\n\n$payload = array(\n  \"phone_number\" => \"+919999999999\",\n  \"message\" => \"string\"\n);\n\ncurl_setopt_array($curl, [\n  CURLOPT_HTTPHEADER => [\n  \"Content-Type: application/json\"\n],\n  \n  CURLOPT_URL => \"https://{host-domain}/sms/api/v1/profile\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n]);\n\n$response = curl_exec($curl);\n$error = curl_error($curl);\n\ncurl_close($curl);\n\nif ($error) {\n  echo \"cURL Error #:\" . $error;\n} else {\n  echo $response;\n}\n"
          }
        ]
      }
    },
    "/sms/api/v1/personalize/upload": {
      "post": {
        "tags": [
          "sms"
        ],
        "operationId": "Sms_personalizeUploadFile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsPersonalizeUploadFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/uploadPersonalizeSwagger"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "unauthorized"
          },
          "405": {
            "description": "Method not Allowed"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -i -X POST \\\nhttps://{host-domain}/sms/api/v1/personalize/upload \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"file\": \"binary\"\n}'\n"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://{host-domain}/sms/api/v1/personalize/upload\"\n\nheaders = {\n  \"Content-Type\": \"application/json\"\n}\n\npayload = {\n  \"file\": \"binary\"\n}\nresponse = requests.post(url, headers=headers, json=payload)\n\ndata = response.json()\nprint(data)\n"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.*;\nimport java.net.http.*;\nimport java.util.*;\n\npublic class App {\n  public static void main(String[] args) throws Exception {\n    var httpClient = HttpClient.newBuilder().build();\n    var payload = String.join(\"\\n\"\n\"{\"\n,\"  \\\"file\\\": \\\"binary\\\"\"\n,\"}\"\n    );\n    \n\n    var host = \"https://{host-domain}\";\n    var pathname = \"/sms/api/v1/personalize/upload\";\n    var request = HttpRequest.newBuilder()\n      .POST(HttpRequest.BodyPublishers.ofString(payload))\n      .uri(URI.create(host + pathname ))\n      .header(\"Content-Type\", \"value\")\n      .build();\n\n    var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());\n\n    System.out.println(response.body());\n  }\n}\n"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import fetch from 'node-fetch';\n\nasync function run() {\n\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/personalize/upload`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"file\": \"binary\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n}\n\nrun();\n"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/personalize/upload`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"file\": \"binary\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "/**\n * Requires libcurl\n */\n\n$curl = curl_init();\n\n$payload = array(\n  \"file\" => \"binary\"\n);\n$payload = array(\n  \"phone_number\" => \"+919999999999\",\n  \"message\" => \"string\"\n);\n\ncurl_setopt_array($curl, [\n  CURLOPT_HTTPHEADER => [\n  \"Content-Type: application/json\"\n],\n  CURLOPT_POSTFIELDS => json_encode($payload),\n  CURLOPT_URL => \"https://{host-domain}/sms/api/v1/personalize/upload\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n]);\n\n$response = curl_exec($curl);\n$error = curl_error($curl);\n\ncurl_close($curl);\n\nif ($error) {\n  echo \"cURL Error #:\" . $error;\n} else {\n  echo $response;\n}\n"
          }
        ]
      }
    },
    "/sms/api/v1/month/statistic": {
      "post": {
        "tags": [
          "sms"
        ],
        "operationId": "Sms_monthlyStatistic",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatestatisticModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SmsMonthlyStatisticResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -i -X POST \\\nhttps://{host-domain}/sms/api/v1/month/statistic \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"page\": \"int32\",\n  \"size\": \"int32\",\n  \"sender\": \"string\",\n  \"search\": \"string\"\n}'\n"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://{host-domain}/sms/api/v1/month/statistic\"\n\nheaders = {\n  \"Content-Type\": \"application/json\"\n}\n\npayload = {\n  \"page\": \"int32\",\n  \"size\": \"int32\",\n  \"sender\": \"string\",\n  \"search\": \"string\"\n}\nresponse = requests.post(url, headers=headers, json=payload)\n\ndata = response.json()\nprint(data)\n"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.*;\nimport java.net.http.*;\nimport java.util.*;\n\npublic class App {\n  public static void main(String[] args) throws Exception {\n    var httpClient = HttpClient.newBuilder().build();\n    var payload = String.join(\"\\n\"\n\"{\"\n,\"  \\\"page\\\": \\\"int32\\\",\"\n,\"  \\\"size\\\": \\\"int32\\\",\"\n,\"  \\\"sender\\\": \\\"string\\\",\"\n,\"  \\\"search\\\": \\\"string\\\"\"\n,\"}\"\n    );\n    \n\n    var host = \"https://{host-domain}\";\n    var pathname = \"/sms/api/v1/month/statistic\";\n    var request = HttpRequest.newBuilder()\n      .POST(HttpRequest.BodyPublishers.ofString(payload))\n      .uri(URI.create(host + pathname ))\n      .header(\"Content-Type\", \"value\")\n      .build();\n\n    var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());\n\n    System.out.println(response.body());\n  }\n}\n"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import fetch from 'node-fetch';\n\nasync function run() {\n\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/month/statistic`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"page\": \"int32\",\n    \"size\": \"int32\",\n    \"sender\": \"string\",\n    \"search\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n}\n\nrun();\n"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/month/statistic`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"page\": \"int32\",\n    \"size\": \"int32\",\n    \"sender\": \"string\",\n    \"search\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "/**\n * Requires libcurl\n */\n\n$curl = curl_init();\n\n$payload = array(\n  \"page\" => \"int32\",\n  \"size\" => \"int32\",\n  \"sender\" => \"string\",\n  \"search\" => \"string\"\n);\n$payload = array(\n  \"phone_number\" => \"+919999999999\",\n  \"message\" => \"string\"\n);\n\ncurl_setopt_array($curl, [\n  CURLOPT_HTTPHEADER => [\n  \"Content-Type: application/json\"\n],\n  CURLOPT_POSTFIELDS => json_encode($payload),\n  CURLOPT_URL => \"https://{host-domain}/sms/api/v1/month/statistic\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n]);\n\n$response = curl_exec($curl);\n$error = curl_error($curl);\n\ncurl_close($curl);\n\nif ($error) {\n  echo \"cURL Error #:\" . $error;\n} else {\n  echo $response;\n}\n"
          }
        ]
      }
    },
    "/sms/api/v1/mobile/logs": {
      "post": {
        "tags": [
          "sms"
        ],
        "operationId": "Sms_mobileLogs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MobileLogsModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkJobSwagger"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "unauthorized"
          },
          "405": {
            "description": "Method not Allowed"
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -i -X POST \\\nhttps://{host-domain}/sms/api/v1/mobile/logs \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"page\": \"int32\",\n  \"size\": \"int32\",\n  \"mobileNo\": \"string\",\n  \"search\": \"string\",\n  \"date\": \"int64\"\n}'\n"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://{host-domain}/sms/api/v1/mobile/logs\"\n\nheaders = {\n  \"Content-Type\": \"application/json\"\n}\n\npayload = {\n  \"page\": \"int32\",\n  \"size\": \"int32\",\n  \"mobileNo\": \"string\",\n  \"search\": \"string\",\n  \"date\": \"int64\"\n}\nresponse = requests.post(url, headers=headers, json=payload)\n\ndata = response.json()\nprint(data)\n"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.*;\nimport java.net.http.*;\nimport java.util.*;\n\npublic class App {\n  public static void main(String[] args) throws Exception {\n    var httpClient = HttpClient.newBuilder().build();\n    var payload = String.join(\"\\n\"\n\"{\"\n,\"  \\\"page\\\": \\\"int32\\\",\"\n,\"  \\\"size\\\": \\\"int32\\\",\"\n,\"  \\\"mobileNo\\\": \\\"string\\\",\"\n,\"  \\\"search\\\": \\\"string\\\",\"\n,\"  \\\"date\\\": \\\"int64\\\"\"\n,\"}\"\n    );\n    \n\n    var host = \"https://{host-domain}\";\n    var pathname = \"/sms/api/v1/mobile/logs\";\n    var request = HttpRequest.newBuilder()\n      .POST(HttpRequest.BodyPublishers.ofString(payload))\n      .uri(URI.create(host + pathname ))\n      .header(\"Content-Type\", \"value\")\n      .build();\n\n    var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());\n\n    System.out.println(response.body());\n  }\n}\n"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import fetch from 'node-fetch';\n\nasync function run() {\n\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/mobile/logs`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"page\": \"int32\",\n    \"size\": \"int32\",\n    \"mobileNo\": \"string\",\n    \"search\": \"string\",\n    \"date\": \"int64\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n}\n\nrun();\n"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/mobile/logs`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"page\": \"int32\",\n    \"size\": \"int32\",\n    \"mobileNo\": \"string\",\n    \"search\": \"string\",\n    \"date\": \"int64\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "/**\n * Requires libcurl\n */\n\n$curl = curl_init();\n\n$payload = array(\n  \"page\" => \"int32\",\n  \"size\" => \"int32\",\n  \"mobileNo\" => \"string\",\n  \"search\" => \"string\",\n  \"date\" => \"int64\"\n);\n$payload = array(\n  \"phone_number\" => \"+919999999999\",\n  \"message\" => \"string\"\n);\n\ncurl_setopt_array($curl, [\n  CURLOPT_HTTPHEADER => [\n  \"Content-Type: application/json\"\n],\n  CURLOPT_POSTFIELDS => json_encode($payload),\n  CURLOPT_URL => \"https://{host-domain}/sms/api/v1/mobile/logs\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n]);\n\n$response = curl_exec($curl);\n$error = curl_error($curl);\n\ncurl_close($curl);\n\nif ($error) {\n  echo \"cURL Error #:\" . $error;\n} else {\n  echo $response;\n}\n"
          }
        ]
      }
    },
    "/sms/api/v1/jobsummary": {
      "post": {
        "tags": [
          "sms"
        ],
        "operationId": "Sms_jobsSummary",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatestatisticModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SmsJobsSummaryResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -i -X POST \\\nhttps://{host-domain}/sms/api/v1/jobsummary \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"page\": \"int32\",\n  \"size\": \"int32\",\n  \"sender\": \"string\",\n  \"search\": \"string\"\n}'\n"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://{host-domain}/sms/api/v1/jobsummary\"\n\nheaders = {\n  \"Content-Type\": \"application/json\"\n}\n\npayload = {\n  \"page\": \"int32\",\n  \"size\": \"int32\",\n  \"sender\": \"string\",\n  \"search\": \"string\"\n}\nresponse = requests.post(url, headers=headers, json=payload)\n\ndata = response.json()\nprint(data)\n"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.*;\nimport java.net.http.*;\nimport java.util.*;\n\npublic class App {\n  public static void main(String[] args) throws Exception {\n    var httpClient = HttpClient.newBuilder().build();\n    var payload = String.join(\"\\n\"\n\"{\"\n,\"  \\\"page\\\": \\\"int32\\\",\"\n,\"  \\\"size\\\": \\\"int32\\\",\"\n,\"  \\\"sender\\\": \\\"string\\\",\"\n,\"  \\\"search\\\": \\\"string\\\"\"\n,\"}\"\n    );\n    \n\n    var host = \"https://{host-domain}\";\n    var pathname = \"/sms/api/v1/jobsummary\";\n    var request = HttpRequest.newBuilder()\n      .POST(HttpRequest.BodyPublishers.ofString(payload))\n      .uri(URI.create(host + pathname ))\n      .header(\"Content-Type\", \"value\")\n      .build();\n\n    var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());\n\n    System.out.println(response.body());\n  }\n}\n"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import fetch from 'node-fetch';\n\nasync function run() {\n\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/jobsummary`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"page\": \"int32\",\n    \"size\": \"int32\",\n    \"sender\": \"string\",\n    \"search\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n}\n\nrun();\n"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/jobsummary`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"page\": \"int32\",\n    \"size\": \"int32\",\n    \"sender\": \"string\",\n    \"search\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "/**\n * Requires libcurl\n */\n\n$curl = curl_init();\n\n$payload = array(\n  \"page\" => \"int32\",\n  \"size\" => \"int32\",\n  \"sender\" => \"string\",\n  \"search\" => \"string\"\n);\n$payload = array(\n  \"phone_number\" => \"+919999999999\",\n  \"message\" => \"string\"\n);\n\ncurl_setopt_array($curl, [\n  CURLOPT_HTTPHEADER => [\n  \"Content-Type: application/json\"\n],\n  CURLOPT_POSTFIELDS => json_encode($payload),\n  CURLOPT_URL => \"https://{host-domain}/sms/api/v1/jobsummary\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n]);\n\n$response = curl_exec($curl);\n$error = curl_error($curl);\n\ncurl_close($curl);\n\nif ($error) {\n  echo \"cURL Error #:\" . $error;\n} else {\n  echo $response;\n}\n"
          }
        ]
      }
    },
    "/sms/api/v1/download/center": {
      "post": {
        "tags": [
          "sms"
        ],
        "operationId": "Sms_downloadCentre",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadCentrerModel2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SmsDownloadCentreResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -i -X POST \\\nhttps://{host-domain}/sms/api/v1/download/center \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"fromDate\": \"int64\",\n  \"toDate\": \"int64\",\n  \"jobId\": \"string\",\n  \"sender\": \"string\",\n  \"status\": [\n    \"string_1\",\n    \"string_2\"\n  ],\n  \"page\": \"int32\",\n  \"size\": \"int32\",\n  \"columns\": [\n    \"string_1\",\n    \"string_2\"\n  ],\n  \"search\": \"string\",\n  \"mobileNumber\": \"string\"\n}'\n"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://{host-domain}/sms/api/v1/download/center\"\n\nheaders = {\n  \"Content-Type\": \"application/json\"\n}\n\npayload = {\n  \"fromDate\": \"int64\",\n  \"toDate\": \"int64\",\n  \"jobId\": \"string\",\n  \"sender\": \"string\",\n  \"status\": [\n    \"string_1\",\n    \"string_2\"\n  ],\n  \"page\": \"int32\",\n  \"size\": \"int32\",\n  \"columns\": [\n    \"string_1\",\n    \"string_2\"\n  ],\n  \"search\": \"string\",\n  \"mobileNumber\": \"string\"\n}\nresponse = requests.post(url, headers=headers, json=payload)\n\ndata = response.json()\nprint(data)\n"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.*;\nimport java.net.http.*;\nimport java.util.*;\n\npublic class App {\n  public static void main(String[] args) throws Exception {\n    var httpClient = HttpClient.newBuilder().build();\n    var payload = String.join(\"\\n\"\n\"{\"\n,\"  \\\"fromDate\\\": \\\"int64\\\",\"\n,\"  \\\"toDate\\\": \\\"int64\\\",\"\n,\"  \\\"jobId\\\": \\\"string\\\",\"\n,\"  \\\"sender\\\": \\\"string\\\",\"\n,\"  \\\"status\\\": [\"\n,\"    \\\"string_1\\\",\"\n,\"    \\\"string_2\\\"\"\n,\"  ],\"\n,\"  \\\"page\\\": \\\"int32\\\",\"\n,\"  \\\"size\\\": \\\"int32\\\",\"\n,\"  \\\"columns\\\": [\"\n,\"    \\\"string_1\\\",\"\n,\"    \\\"string_2\\\"\"\n,\"  ],\"\n,\"  \\\"search\\\": \\\"string\\\",\"\n,\"  \\\"mobileNumber\\\": \\\"string\\\"\"\n,\"}\"\n    );\n    \n\n    var host = \"https://{host-domain}\";\n    var pathname = \"/sms/api/v1/download/center\";\n    var request = HttpRequest.newBuilder()\n      .POST(HttpRequest.BodyPublishers.ofString(payload))\n      .uri(URI.create(host + pathname ))\n      .header(\"Content-Type\", \"value\")\n      .build();\n\n    var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());\n\n    System.out.println(response.body());\n  }\n}\n"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import fetch from 'node-fetch';\n\nasync function run() {\n\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/download/center`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"fromDate\": \"int64\",\n    \"toDate\": \"int64\",\n    \"jobId\": \"string\",\n    \"sender\": \"string\",\n    \"status\": [\n      \"string_1\",\n      \"string_2\"\n    ],\n    \"page\": \"int32\",\n    \"size\": \"int32\",\n    \"columns\": [\n      \"string_1\",\n      \"string_2\"\n    ],\n    \"search\": \"string\",\n    \"mobileNumber\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n}\n\nrun();\n"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/download/center`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"fromDate\": \"int64\",\n    \"toDate\": \"int64\",\n    \"jobId\": \"string\",\n    \"sender\": \"string\",\n    \"status\": [\n      \"string_1\",\n      \"string_2\"\n    ],\n    \"page\": \"int32\",\n    \"size\": \"int32\",\n    \"columns\": [\n      \"string_1\",\n      \"string_2\"\n    ],\n    \"search\": \"string\",\n    \"mobileNumber\": \"string\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "/**\n * Requires libcurl\n */\n\n$curl = curl_init();\n\n$payload = array(\n  \"fromDate\" => \"int64\",\n  \"toDate\" => \"int64\",\n  \"jobId\" => \"string\",\n  \"sender\" => \"string\",\n  \"status\" => array(\n    \"string_1\",\n    \"string_2\"\n  ),\n  \"page\" => \"int32\",\n  \"size\" => \"int32\",\n  \"columns\" => array(\n    \"string_1\",\n    \"string_2\"\n  ),\n  \"search\" => \"string\",\n  \"mobileNumber\" => \"string\"\n);\n$payload = array(\n  \"phone_number\" => \"+919999999999\",\n  \"message\" => \"string\"\n);\n\ncurl_setopt_array($curl, [\n  CURLOPT_HTTPHEADER => [\n  \"Content-Type: application/json\"\n],\n  CURLOPT_POSTFIELDS => json_encode($payload),\n  CURLOPT_URL => \"https://{host-domain}/sms/api/v1/download/center\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n]);\n\n$response = curl_exec($curl);\n$error = curl_error($curl);\n\ncurl_close($curl);\n\nif ($error) {\n  echo \"cURL Error #:\" . $error;\n} else {\n  echo $response;\n}\n"
          }
        ]
      }
    },
    "/sms/api/v1/descriptive/summary": {
      "post": {
        "tags": [
          "sms"
        ],
        "operationId": "Sms_descriptiveSummary",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DescriptiveSummaryModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SmsDescriptiveSummaryResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -i -X POST \\\nhttps://{host-domain}/sms/api/v1/descriptive/summary \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"size\": \"int32\",\n  \"page\": \"int32\",\n  \"search\": \"string\",\n  \"fromDate\": \"int64\",\n  \"toDate\": \"int64\"\n}'\n"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://{host-domain}/sms/api/v1/descriptive/summary\"\n\nheaders = {\n  \"Content-Type\": \"application/json\"\n}\n\npayload = {\n  \"size\": \"int32\",\n  \"page\": \"int32\",\n  \"search\": \"string\",\n  \"fromDate\": \"int64\",\n  \"toDate\": \"int64\"\n}\nresponse = requests.post(url, headers=headers, json=payload)\n\ndata = response.json()\nprint(data)\n"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.*;\nimport java.net.http.*;\nimport java.util.*;\n\npublic class App {\n  public static void main(String[] args) throws Exception {\n    var httpClient = HttpClient.newBuilder().build();\n    var payload = String.join(\"\\n\"\n\"{\"\n,\"  \\\"size\\\": \\\"int32\\\",\"\n,\"  \\\"page\\\": \\\"int32\\\",\"\n,\"  \\\"search\\\": \\\"string\\\",\"\n,\"  \\\"fromDate\\\": \\\"int64\\\",\"\n,\"  \\\"toDate\\\": \\\"int64\\\"\"\n,\"}\"\n    );\n    \n\n    var host = \"https://{host-domain}\";\n    var pathname = \"/sms/api/v1/descriptive/summary\";\n    var request = HttpRequest.newBuilder()\n      .POST(HttpRequest.BodyPublishers.ofString(payload))\n      .uri(URI.create(host + pathname ))\n      .header(\"Content-Type\", \"value\")\n      .build();\n\n    var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());\n\n    System.out.println(response.body());\n  }\n}\n"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import fetch from 'node-fetch';\n\nasync function run() {\n\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/descriptive/summary`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"size\": \"int32\",\n    \"page\": \"int32\",\n    \"search\": \"string\",\n    \"fromDate\": \"int64\",\n    \"toDate\": \"int64\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n}\n\nrun();\n"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "\nconst resp = await fetch(\n`https://{host-domain}/sms/api/v1/descriptive/summary`,\n{\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    \"size\": \"int32\",\n    \"page\": \"int32\",\n    \"search\": \"string\",\n    \"fromDate\": \"int64\",\n    \"toDate\": \"int64\"\n  })\n}\n);\n\nconst data = await resp.json();\nconsole.log(data);\n"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "/**\n * Requires libcurl\n */\n\n$curl = curl_init();\n\n$payload = array(\n  \"size\" => \"int32\",\n  \"page\" => \"int32\",\n  \"search\" => \"string\",\n  \"fromDate\" => \"int64\",\n  \"toDate\" => \"int64\"\n);\n$payload = array(\n  \"phone_number\" => \"+919999999999\",\n  \"message\" => \"string\"\n);\n\ncurl_setopt_array($curl, [\n  CURLOPT_HTTPHEADER => [\n  \"Content-Type: application/json\"\n],\n  CURLOPT_POSTFIELDS => json_encode($payload),\n  CURLOPT_URL => \"https://{host-domain}/sms/api/v1/descriptive/summary\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n]);\n\n$response = curl_exec($curl);\n$error = curl_error($curl);\n\ncurl_close($curl);\n\nif ($error) {\n  echo \"cURL Error #:\" . $error;\n} else {\n  echo $response;\n}\n"
          }
        ]
      }
    },
    "/sms/api/v1/date/statistic": {
      "post": {
        "tags": [
          "sms"
        ],
        "operationId": "Sms_datewiseStatistic",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatestatisticModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SmsDatewiseStatisticResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -i -X POST \\\nhttps://{host-domain}/sms/api/v1/date/statistic \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"page\": \"int32\",\n  \"size\": \"int32\",\n  \"sender\": \"string\",\n  \"search\": \"string\"\n}'\n"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://{host-domain}/sms/api/v1/date/statistic\"\n\nheaders = {\n  \"Content-Type\": \"application/json\"\n}\n\npayload = {\n  \"page\": \"int32\",\n  \"size\": \"int32\",\n  \"sender\": \"string\",\n  \"search\": \"string\"\n}\nresponse = requests.post(url, headers=headers, json=payload)\n\ndata = response.json()\nprint(data)\n"
          },
          {
            "lang": "java",
            "label": "Java",
[...]
